:root {
  --color0: #f9f9f8;
  --color1: #CEB364;
  --color2: #eee8d3;
  --color3: #3e3e3e;
  --color4: #93989E;  
  --max-width: 1299px;
}

* { box-sizing: border-box; }

img { display: block; }

body {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  background-color: var(--color0);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 60px 30px 100px 30px;
  min-height: 100vh;
}

@media (max-width: 760px) {
  * {
      font-size: 16px;
  }
  body {
    padding: 30px 20px 100px 20px;
  }
}