.enter-as {
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 40px;
    width: 100%;
    max-width: var(--max-width);
}

.enter-as > span,
.enter-as__link {
    font-size: 15px;
}

.enter-as__link {
    text-decoration: none;
    font-weight: 700;
}

.enter-as__link:hover {
    color: var(--color1);
}

.enter-as__separator {
    font-size: 26px;
    line-height: 26px;
    color: var(--color1);
}

@media (max-width: 1000px) {
    .enter-as {
        justify-content: center;
    }
    .enter-as > span,
    .enter-as__link {
    font-size: 13px;
}
    .enter-as__separator {
        font-size: 23px;
    }
}