.welcome-page-cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: var(--max-width);
}

.welcome-page-cities__cities {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome-page-cities__city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    gap: 26px;
    background: #fff;
    border-radius: 25px;
    box-shadow: inset 0px 0px 0px 0px var(--color1), 0px 4px 12px 0px #0000001A;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.welcome-page-cities__city:hover {
    transform:translate(0, -3px);
    box-shadow: inset 0px 0px 3px 3px var(--color1), 0px 4px 12px 5px #0000001A;
    transition: all 0.3s ease;
}

@media (max-width: 430px) {
    .welcome-page-cities__city {
        width: 150px;
        height: 150px;
        gap: 16px;
        font-size: 14px;
    }
  }
  
  @media (max-width: 360px) {
    .welcome-page-cities__city {
        width: 130px;
        height: 130px;
    }
  }